img {
	max-width: 100%;
}

@media print {
  @page { margin: 0; }
  img {
		page-break-before: always;
		width: 7.2in;
		height: 10.8in;
	  margin: 0in 0.65in 0 0.65in;
	}
	header {
		display: none;
	}
}